In [29]:
import common
data_df, lects_df = common.load_lexirumah()
display(data_df.head())
display(lects_df.head())

Loading data...
Loaded data.

,ID,Lect_ID,Concept_ID,Form_according_to_Source,Form,Local_Orthography,Segments,Comment,Source
0,abui1241-fuime-sky-1,abui1241-fuime,sky,adi,adi,adi,"[a, d, i]",None,[schapper10]
1,abui1241-fuime-sun-1,abui1241-fuime,sun,wari,wari,wari,"[w, a, r, i]",None,[schapper10]
2,abui1241-fuime-moon-1,abui1241-fuime,moon,ije,ije,iye,"[i, j, e]",None,[schapper10]
3,abui1241-fuime-star-1,abui1241-fuime,star,fɪri,fɪri,firi,"[f, ɪ, r, i]",None,[schapper10]
4,abui1241-fuime-night-1,abui1241-fuime,night,tuŋtama,tuŋtama,tungtama,"[t, u, ŋ, t, a, m, a]",None,[schapper10]

,ID,Name,Family,Latitude,Longitude,Region,Glottocode,Iso,Culture,Description,Orthography,Comment,Macroarea
0,abui1241-fuime,"Abui, Fuimelang",Timor-Alor-Pantar,-8.236,124.6783,"Kecamatan Perwakilan Alor Barat Laut, Kabupate...",abui1241,abz,None,None,"[p/general, p/abui1241-fuime]",None,Papunesia
1,abui1241-petle,"Abui, Petleng",Timor-Alor-Pantar,-8.2144,124.593,"Kecamatan Teluk Mutiara, Kabupaten Alor, East ...",abui1241,abz,None,None,"[p/general, p/abui1241-petle]",None,Papunesia
2,abui1241-takal,"Abui, Takalelang",Timor-Alor-Pantar,-8.1887,124.6264,"Kecamatan Perwakilan Alor Barat Laut, Kabupate...",abui1241,abz,abui,None,"[p/general, p/abui1241-takal]",None,Papunesia
3,abui1241-ulaga,"Abui, Ulaga",Timor-Alor-Pantar,-8.403792,124.623702,"Kecamatan Alor Barat Daya, Kabupaten Alor, Eas...",abui1241,abz,None,None,"[p/general, p/abui1241-ulaga]",None,Papunesia
4,adan1251-lawah,"Adang, Lawahing",Timor-Alor-Pantar,-8.2109,124.4272,"Kecamatan Alor Barat Laut, Kabupaten Alor, Eas...",adan1251,adn,None,None,"[p/general, p/adan1251-lawah]",None,Papunesia

In [37]:
# Choose lects
lects_df = lects_df[["ID", "Name", "Family", "Latitude", "Longitude"]]
lects_alorese = lects_df[lects_df["Name"].str.startswith("Alorese")]
lects_lamaholot_related = lects_df[lects_df["Name"].str.contains(
    "Lamalera|Lewotobi|Lewoingu|Lewolema", case=False, regex=True)]
lects_tap = lects_df[lects_df["Family"].str.startswith("Timor-Alor-Pantar")]
lects = lects_alorese + lects_lamaholot_related + lects_tap
## TODO: merge

      ID Name Family Latitude Longitude
0    NaN  NaN    NaN      NaN       NaN
1    NaN  NaN    NaN      NaN       NaN
2    NaN  NaN    NaN      NaN       NaN
3    NaN  NaN    NaN      NaN       NaN
4    NaN  NaN    NaN      NaN       NaN
..   ...  ...    ...      ...       ...
340  NaN  NaN    NaN      NaN       NaN
341  NaN  NaN    NaN      NaN       NaN
342  NaN  NaN    NaN      NaN       NaN
343  NaN  NaN    NaN      NaN       NaN
344  NaN  NaN    NaN      NaN       NaN

[69 rows x 5 columns]

In [36]:
%%time
# Join data with lect name from lects table
# TODO: time again
data_langs_df = data_df[data_df["Lect_ID"].isin(lects["ID"])]
data_langs_df = data_langs_df.rename({"ID":"Form_ID"})
print(data_langs_df)
data_merged_df = data_langs_df.merge(lects_df, how="left", left_on="Lect_ID", right_on="ID")
display(data_merged_df.head())

Empty DataFrame
Columns: [ID, Lect_ID, Concept_ID, Form_according_to_Source, Form, Local_Orthography, Segments, Comment, Source]
Index: []

Empty DataFrame
Columns: [ID_x, Lect_ID, Concept_ID, Form_according_to_Source, Form, Local_Orthography, Segments, Comment, Source, ID_y, Name, Family, Latitude, Longitude]
Index: []

CPU times: user 36.3 ms, sys: 3 µs, total: 36.3 ms
Wall time: 35.3 ms